<div class="container">
<div id="top">
  <div id="a">
  
      
      <div id="cm">{{content?.title}}</div>   
      <div id="bubble"></div>
    </div>
  
  <!-- <div id="d"></div>
  <div id="e">
    <div id="f">
      <div id="smily"></div>
    </div>
  </div>
</div>

<div id="g">
  <div id="h"></div>
</div> -->
<div id="e">
  <div id="smily"></div>     
</div>
</div>
<div id="cards">
  <div *ngFor="let item of content?.contentSections" class="kl">
    <div id="icon"></div>
    <p id="name">{{item.section1}}</p>
    <!-- <div id="from">{{item.section2}}</div> -->
    
  </div>
  </div>
</div>

<app-contact></app-contact>

