# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/StudioUp.Web/v17/.wsuo
/.vs/StudioUp.Web/FileContentIndex/2803f9d5-bd91-4057-a9e4-4cf8531d8eb0.vsidx
/.vs/StudioUp.Web/FileContentIndex/9e8d3cd8-26d2-4c31-a624-556e5048da54.vsidx
/.vs/StudioUp.Web/FileContentIndex/df1ddb60-491a-44b0-8d6c-ffabb56a4b79.vsidx
/.vs/StudioUp.Web/FileContentIndex/ed4c7fb9-ea2d-4f1d-9165-ed4d2b5beece.vsidx
