<form [formGroup]="personalForm" (ngSubmit)="onSubmitPersonalForm()" class="personal-form">
  <div class="form-group">
    <label for="customerCode">: קוד לקוח</label>
    <input id="customerCode" formControlName="customerCode" pInputText class="form-control"
      (input)="onCustomerCodeInput()" />
    <p-message
      *ngIf="personalForm.get('customerCode')?.errors?.['required'] && personalForm.get('customerCode')?.touched"
      severity="error" text="קוד לקוח נדרש"></p-message>
    <p-message *ngIf="customerNotFound" severity="error" text="קוד לקוח לא קיים"></p-message>
  </div>

  <div class="form-group">
    <label for="freefitCode">: קוד פריפיט</label>
    <input id="freefitCode" formControlName="freefitCode" pInputText class="form-control" />
    <p-message *ngIf="personalForm.get('freefitCode')?.errors?.['required'] && personalForm.get('freefitCode')?.touched"
      severity="error" text="קוד פריפיט נדרש"></p-message>
  </div>

  <button type="submit" pButton label="המשך" class="btn btn-custom"></button>
  <p-message *ngIf="formSubmitAttempt && personalForm.invalid" severity="error"
    text="יש לתקן את השגיאות לפני המשך"></p-message>
</form>

<div *ngIf="customerHMOS">
  <form [formGroup]="fileForm" (ngSubmit)="onUploadFile()" class="file-form">
    <div *ngIf="!fileExists" class="form-group">
      <label for="registrationForm">: טופס רישום</label>
      <input id="registrationForm" type="file" (change)="onFileChange($event)" class="form-control" />
      <p-message
        *ngIf="fileForm.get('registrationForm')?.errors?.['required'] && fileForm.get('registrationForm')?.touched"
        severity="error" text="טופס רישום נדרש"></p-message>
      <button type="submit" pButton label="העלה" class="btn btn-custom-secondary mt-2"></button>
    </div>
    <div *ngIf="fileExists">
      <button type="button" pButton label="הורד קובץ" class="btn btn-custom-danger mr-2"
        (click)="onDownloadFile()"></button>
      <button type="button" pButton label="מחק קובץ" class="btn btn-custom" (click)="onDeleteFile()"></button>
    </div>
  </form>
</div>