<div class="p">
    <div class="tit">
        <div class="sce">מערכת שיעורים</div>
        <div class="img"></div>
    </div>

    <div class="table" *ngIf="screenWidth>910">
        <div class="headers">
            <div class="header" *ngFor="let day of days">{{day}}</div>
        </div>
        <div class="container">
            <div *ngFor="let n of numbersArray" class="n">
                <div class="tur">
                    <div *ngFor="let lesson of groupedItems[n-1]" class="item">
                        <div *ngIf="lesson.id!=0 && lesson.isActive==true">
                            {{lesson.hour}}
                            <br>
                            {{lesson.trainerName}}
                            <br>
                            {{lesson.trainingTypeName}}
                            <br>
                            {{lesson.customerTypeName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- למסך קטן -->

    <div *ngIf="screenWidth<910" class="table">

        <div class="container">
            <p-accordion  *ngFor="let title of days; let i=index">
                <!-- <div> -->     
                <p-accordionTab header="{{title}}" class="header">
                    <div *ngFor="let lesson of groupedItems[i]">
                        <div *ngIf="lesson.id!=0 && lesson.isActive==true" class="item">
                            {{lesson.hour}}
                            <br>
                            {{lesson.trainerName}}
                            <br>
                            {{lesson.trainingTypeName}}-
                            {{lesson.customerTypeName}}
                        </div>
                    </div>
                </p-accordionTab>
            <!-- </div> -->
            </p-accordion>
        </div>
    </div>



</div>