<div class="p">
    <div class="tit">
        <div class="sce">מערכת שיעורים</div>
        <div class="img"></div>
    </div>

    <div class="table" *ngIf="screenWidth>910">
        <div class="headers">
            <div class="header" *ngFor="let day of days">{{day}}</div>
        </div>
        <div class="container">
            <div *ngFor="let n of numbersArray" class="n">
                <div class="tur">
                    <div *ngFor="let lesson of groupedItems[n-1]" class="item">
                        <div *ngIf="lesson.id!=0 && lesson.isActive==true">
                            {{lesson.hour}}
                            <br>
                            {{lesson.trainerName}}
                            <br>
                            {{lesson.trainingTypeName}}
                            <br>
                            {{lesson.customerTypeName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- למסך קטן -->
    <div *ngIf="screenWidth<910" class="table">
        <div *ngFor="let title of days; let i=index" class="a">
            <div class="header">{{title}}</div>
            <div class="container">
                <p-accordion>
                    <p-accordionTab>
                        <div *ngFor="let lesson of groupedItems[i]">
                            <div *ngIf="lesson.id!=0 && lesson.isActive==true" class="item">
                                <div id="t"> {{lesson.hour}}-
                                    {{lesson.trainerName}}
                                </div>
                                <div>
                                    {{lesson.trainingTypeName}}-
                                    {{lesson.customerTypeName}}
                                </div>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>

    </div>

</div>