<div class="myP">
    <div class="myTable" *ngIf="screenWidth>910">
        <div class="myheaders">
            <div class="myHeader" *ngFor="let day of days">{{day}}</div>
        </div>
        <div class="container1">
            <div *ngFor="let n of numbersArray" class="n">
                <div class="myTur">
                    <div *ngFor="let lesson of groupedItems[n-1]" class="myItem"
                    [ngClass]="{'hasTrainingCustomer': lesson.dayOfWeek === 4}">
                        <div *ngIf="lesson.id!=0 && lesson.isActive==true">
                            <b>{{lesson.hour}}</b>
                            <br>
                            {{lesson.trainerName}}
                            <br>
                            {{lesson.trainingTypeName}}
                            {{lesson.customerTypeName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- למסך קטן -->
    <div *ngIf="screenWidth<910" class="myTable">
        <div *ngFor="let title of days; let i=index" class="a">
            <div class="myHeader">{{title}}</div>
            <div class="container1">
                <p-accordion>
                    <p-accordionTab>
                        <div *ngFor="let lesson of groupedItems[i]">
                            <div *ngIf="lesson.id!=0 && lesson.isActive==true" class="myItem">
                                <div id="t"> {{lesson.hour}}-
                                    {{lesson.trainerName}}
                                </div>
                                <div>
                                    {{lesson.trainingTypeName}}-
                                    {{lesson.customerTypeName}}
                                </div>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
    </div>




</div>