<div class="all" dir="rtl">
    <div class="right_side">
        <p class="titleo">סוגי האימונים</p>
        <div class="content">
            {{contentHP?.description}} 
        </div>
        <div class="mal_link" routerLink="/training" routerLinkActive="active">
            <div class="link_lik">לקרוא עוד</div>
            <div class="cir">       
                <i class="pi pi-circle">
                    <i class="pi pi-arrow-down-left"></i>
                </i>
            </div>
        </div>
    </div>
    <div class="left_side">
        <div class="sinkerHM"></div>
    </div>
</div>
    