<div class="allHSB">

    <div class="alltext">
        <div id="text">?מנויה</div>
        <div id="text2">!הטבות כושר אישית לבריאות</div>
    </div>

    <div class="rectangleHSB">

        <div class="DivRow1">
            <div class="optionList" *ngFor="let po of s.contentSections">
                <div *ngIf="po.viewInHP == true">
                    <div class="rectangle40">
                        <p class="text1">{{po.section1}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="rectangle43">
            <img class="image" src="../../../../assets/images/s2.png">
        </div>
        <div id="joining">
            <div class="rectangle21"></div>
            <a class="text-rectangle21" href="/*קישור לדף של ההרשמה*/">להצטרפות למנוי</a>
            <div class="rectangle22"></div>
            <div class="arrov">↙</div>
        </div>
    </div>
</div>