<div class="g">
<div class="text">?מנויה</div>
<div class="text2">!הטבות כושר אישית לבריאות</div>

    <div class="PaymentOptionDivRow">
        <div class="optionList" *ngFor="let po of s.contentSections">
            <div *ngIf="po.viewInHP == true">
                <div class="rectangle40">
                    <p class="text1">{{po.section1}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="rectangle43"></div>
    <div class="group121" ></div>
    

    <div class="rectangle21"></div>
    <a class="text-rectangle21" href="/*קישור לדף של ההרשמה*/">להצטרפות למנוי</a>
    <div class="rectangle22"></div>
    <div class="arrov">↙</div>
</div>