.btn {
    background-color: rgb(217, 28, 92);
    margin-top: 3vh;
    border-color: black;
    margin-left: 3vh;
    color: white;

}

input {
    margin-top: 3vh;
    margin-bottom: 2vh;
    color: #000;
}

input:focus {
    box-shadow: 0px 0px 5px 2px yellow;
    border-color: white;
}

.alert {
    direction: rtl;
}


#email:-webkit-autofill,
#email:-webkit-autofill:hover,
#email:-webkit-autofill:focus,
#email:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(255, 255, 124) inset !important;
    -webkit-text-fill-color: black !important;
}