<div class="container">
    <div class="PaymentOptionDivContainerIcons">
        <div id="PaymentsOptionsDivString">
            <div><p>אפשרויות</p></div>
            <div><p>תשלום</p></div>
        </div>
        <div class="backgroundImageDiv">
        </div>
    </div>

    <div *ngFor="let po of paymentOption.contentSections" class="optionList">
    <div *ngIf="po.isActive == true" class="PaymentOptionDivContainer">
        <div class="PaymentOptionDivRow">
            <div class="PaymentOptionDiv">
                <img src="{{urlImg}}{{po.imageData}}" class="Icon">
                <p class="headerOption">{{po.section1}}</p>
                <p class="textOption">{{po.section2}}</p>
                <p class="textOptionBold">{{po.section3}}</p>
            </div>
        </div>
    </div>
</div>

